<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16">
    <link rel="stylesheet" href="/css/index.css">
    <title>Your Prediction</title>
</head>

<body>
    <div id="container">
        <a href="/" id="logo"><h1>Magic Genie</h1></a>
        <div>
            <img src="/image/<%=image%>" alt="Genie picture">
        </div>
        <p>Your question was, <%=question%>?</p>
        <p>Your answer is <%=answer%>
        </p>
        <p><a href="/">Try again?</a></p>
    </div>
</body>

</html>