<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <title>Welcome!</title>
</head>

<body>
    <div id="pagecontainer">
        <div id="container">
            <a href="/" id="logo"><h1>Magic Genie</h1></a>

            <img id="welcomeGenie" src="/image/welcome.png" alt="welcomeGenie">

            <br>

            <form action="/getPrediction" method="post">

                <label><strong>What is your question?</strong><br><br><textarea rows="5" cols="88" name="question" id="question"
                        placeholder="Ask your question here (Your question will be visible to others and saved in our database)"></textarea></label>

                <br>
                <br>

                <input type="reset" value="Reset"/>
                <input type="submit" value="Ask Question" />

            </form>



            <br>

            <a href="/previousPredictions/all">See previous predictions</a>


        </div>

        <footer> 
            <a href="https://github.com/Michael-Amaya/Magic-Genie" target="_blank" rel="noopener noreferrer" class="foot">Link to GitHub repository</a>
        </footer>
    </div>

</body>

</html>