<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16">
    <link rel="stylesheet" href="/css/prediction.css">
    <title>Previous Predictions</title>
</head>

<body>
    <div id="container">
        <h1>Magic Genie</h1>
        <div>
            <a href="/previousPredictions/all">All Predictions</a>
             | 
            <a href="/previousPredictions/positive">Positive Predictions</a>
             | 
            <a href="/previousPredictions/negative">Negative Predictions</a>
        </div>
        <br>
        <table>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
            <% predictions.forEach(e=> { %>
                <tr>
                    <td>
                        <%= e.question %>
                    </td>
                    <td>
                        <%= e.answer %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <br>
        <a href="/">Home</a>
    </div>
</body>

</html>